.div-main {
    height: 95%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1%;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.div-form {
    height: 95%;
    width: 30%;
    border: 2px solid black;
}
#contexto{
    font-size: 20px;
}

#submit {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#resultados {
    height: 95%;
    width: 70%;
    border: 2px solid black;
}
