@page
@using EntregaRazor.Models;
@model EntregaRazor.Pages.selectionModel

<head><link rel="stylesheet" href="./css/selection.css" asp-append-version="true" /></head>
<div class="div-main">
    <div class="div-form">
        <form method="post" asp-page-handler="">
            <div id="table-checkbox">
                <fieldset>
                    <legend>Elemento</legend>
                    <input type="checkbox" name="Frio" asp-for="Frio"/>
                    <label for="Frio"> Frio</label>
                    <br/>
                    <input type="checkbox" name="Calor"  asp-for="Calor" />
                    <label for="Calor"> Calor</label>
                    <br/>
                    <input type="checkbox" name="Electrico" asp-for="Electrico" />
                    <label for="Electrico"> Electrico</label>
                    <br/>
                    <input type="checkbox" name="Toxina" asp-for="Toxina" />
                    <label for="Toxina"> Toxina</label>
                    <br/>
                </fieldset>
            </div>
            <div id="table-radio">
                <fieldset>
                    <legend>Genero</legend>
                    <input type="radio" name="Genero" value="M" asp-for="Genero" />
                    <label for="Masculino">Masculino</label><br/>
                    <input type="radio" name="Genero" value="F" asp-for="Genero" />
                    <label for="Femenino">Femenino</label>
                    <br />
                </fieldset>
                <br />
                <div id="submit">
                    <input type="submit" value="Ver">
                </div>
            </div>
        </form>
    </div>
    <div id="resultados">
        <table>
        @{
            List<string> nombres = new List<string>();
            if (Model.Frio == true)
            {
                nombres.AddRange((from Warframes in Model.datos.Warframes 
                    where Warframes.Genero == Model.Genero && Warframes.Elemento == "Frio"
                    select Warframes.Nombre).ToList());
            }
            if (Model.Calor == true)
            {
                nombres.AddRange((from Warframes in Model.datos.Warframes 
                    where Warframes.Genero == Model.Genero && Warframes.Elemento == "Calor" 
                    select Warframes.Nombre).ToList());
            }
            if (Model.Electrico == true)
            {
                nombres.AddRange((from Warframes in Model.datos.Warframes 
                    where Warframes.Genero == Model.Genero && Warframes.Elemento == "Electrico" 
                    select Warframes.Nombre).ToList());
            }
            if (Model.Toxina == true)
            {
                nombres.AddRange((from Warframes in Model.datos.Warframes 
                    where Warframes.Genero == Model.Genero && Warframes.Elemento == "Toxina" 
                    select Warframes.Nombre).ToList());
            }
            foreach (var n in nombres)
            {
            <tr>
                <td id="result">@n</td>
            </tr>
            }
        }
        </table>
    </div>
</div>